

.form-container{
margin-left: 10px;
}
.arrow-text{
    background-color: #9B5278;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    border: none;
    color: white;
    font-weight: 900;
}
.custom-shape-divider-top-1750777592 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1750777592 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1750777592 .shape-fill {
    fill: #9B5278;
}
.input-form{
    border: 1px solid white;
    height: 350px;
    margin-top: 40px;
    margin-left: 20px;
    padding-right: 30px;
    margin-right: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px 3px gray;

}
.input-form input{
    background-color: transparent;
    color:black;
    margin-bottom: 5px;
    border: 1px solid black;
    margin-left: 10px;
    height: 30px;
    width: 100%;
}

input::placeholder{
    color:black;
    opacity: 1;
    padding-left: 5px;
}
label{
    margin-left: 10px;
    margin-bottom: 5px;
}

.input-form p{
    color:white;
}
.signup-btn{
    width: auto;
    padding-top: 10px;
    margin-bottom: 20px;

}
.btn-el{
    display: flex;
    justify-content: center;
}
.about-us{
    display: none;
}

@keyframes appear {
    from{
        opacity: 0;
        scale:0.5;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    }
}
.input-form{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
    animation-delay: 1s;
    animation-duration: 5s;
    transform: 1s;
}
@media (min-width:900px) {
    .form-container{
        display: flex;
        padding-left: 200px;
    }
    .input-form{
        width: 200px;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        padding-right: 50px;
        border: none;
    }
    .arrow-text{
        height: 50px;
    }  
    .input-form button{
        margin-top: 20px;
    }
    .second-fold{
        display: flex;
    }
    .about-us{
        display: block;
        padding-left: 150px;
        padding-right: 350px;
        text-align: left;
        padding-top: 30px;
        font-size: 18px;
        font-weight: 500;
    }
    .button-element{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .about-us h3{
        text-align: center;
        font-size: 30px;
        color:rgb(71, 214, 71);
        font-weight: 900;
    }
    .about-us p{
        text-align: left;
        padding-top: 20px;
    }
    
}