.success-container h3{
    color: rgb(71, 214, 71);
    font-size: 30px;
    font-weight: 800;
}
h5{
    font-size: 20px;
    font-weight: 400;
}
p{
    text-align: center;
}

.helen{
    display: none;
}

.review-container img{
    margin-top: 20px;
    height: 180px;
    width:180px;
    margin-left: 30px;
    border-radius: 90px;
}
.success-container{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-bottom:50px ;
}

.success-card{
    transition: 1s;
}
.success-card:hover{
    transform: scale(1.3);
    z-index:2;
}

@media (min-width:900px) {
    .review-container{
    display: flex;
}
.success-container{
    padding-top: 30px;
    padding-left: 250px;
    padding-right: 300px;
    text-align: center;
}
.helen{
    display: block;
}
    
}