.success-container h3{
    color: rgb(71, 214, 71);
    font-size: 30px;
    font-weight: 800;
}
h5{
    font-size: 20px;
    font-weight: 400;
}
p{
    text-align: center;
}

.helen{
    display: none;
}

.review-container img{
    margin-top: 20px;
    height: 180px;
    width:180px;
    margin-left: 10px;
    border-radius: 90px;
    border: 1.6px solid  #d0619a ;
}
.success-container{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-bottom:50px ;
}



@media (min-width:900px) {
    .review-container{
    display: flex;
}
.success-container{
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 300px;
    text-align: center;
}
.helen{
    display: block;
}
.success-card{
    transition: 1s;
}
.success-card:hover{
    transform: scale(1.1);
    z-index:1;
}
.review-container p {
     color: rgb(71, 214, 71);
}
.review-container img {
    margin-left: 30px;
}
    
}